<form action="/login" method="POST">

    <input type="email" name="correo" placeholder="Correo">

    <input type="password" name="password" placeholder="Contraseña">

    <button type="submit">Ingresar</button>

</form>